body {
    background-color: aquamarine;
}

div {
    display: flex;
    flex-direction: column;

}

#title {
    font-size: 25px;
    border: solid 2px black;
}

#price {
    font-size: 30px;
    color: purple;
}
