body {
    background-color: aquamarine;
}

div {
    display: grid;
    grid-template-columns: 850px;

}

#title {
    font-size: 25px;
    border: solid 2px black;
}

#price {
    font-size: 30px;
    color: purple;
}

input {
    margin: 5px;
}

h1 {
    border-bottom: dotted black 2px;
}